*.aux
*.out
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.blg
*.p
*.pyc
*~
__pycache__
_build
experimentOutputs
jobs
data/geom/**/*.png
rust_compressor/target
*.cost
compressionMessages/
container.img
launchers/
figures/
data/*
!data/puddleworld/
data/taskRankGraphs
message
sklearn-container.img
.idea/
.vscode/
venv/
ec-language-venv/
language_experiments/
tests/out/
.DS_Store
