[submodule "pregex"]
	path = pregex
	url = git@github.com:insperatum/pregex.git
[submodule "pinn"]
	path = pinn
	url = git@github.com:insperatum/pinn.git
[submodule "pyccg"]
	path = pyccg
	url = https://github.com/hans/pyccg
	branch = master
