*.aux
*.out
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.blg
*.p
*.pyc
*~
figures/*
__pycache__
_build
experimentOutputs
jobs
data/geom/**/*.png
rust_compressor/target
*.cost
compressionMessages/
container.img
launchers/
data/cogsci_2019/*
!data/logo/
!data/puddleworld/
data/taskRankGraphs
message
sklearn-container.img
.idea/
venv/
tests/out/
.DS_Store
