*.aux
*.out
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.blg
*.p
*.py~
*.pyc
__pycache__
_build
experimentOutputs
jobs
data/geom/**/*.png
rust_compressor/target
*.cost
compressionMessages/
container.img
launchers/
data/*
message
