Box2D-kengz==2.3.3
cairocffi==1.0.2
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
dill==0.2.9
frozendict==1.2
graphviz==0.11
idna==2.8
joblib==0.13.2
kiwisolver==1.1.0
matplotlib==3.1.0
multiprocess==0.70.7
nltk==3.4.1
numpy==1.16.4
pathos==0.2.3
Pillow==6.0.0
pox==0.2.5
ppft==1.6.4.9
protobuf==3.8.0
psutil==5.6.2
pycparser==2.19
pygame==1.9.6
pyparsing==2.4.0
pypng==0.0.19
python-dateutil==2.8.0
pytz==2019.1
pyzmq==18.0.1
requests==2.22.0
scikit-learn==0.21.2
scipy==1.3.0
sexpdata==0.0.3
six==1.12.0
torch==1.1.0
torchvision==0.3.0
urllib3==1.25.3
